services:
  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 770088
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./nginx/nginx-frontend.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
  nginx:
    image: nginx:latest
    ports:
      - "8093:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
